.class2{

    background-color: aliceblue;
    width: 538px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 7px;
    text-align: left;
    height: 500px;
}
body {
    background-color:skyblue !important
}